// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_page{
  background-color: black;
}

.btn {
  background-color: #4b3947;
}
.btn-secondary{
  color: white;
}
.navbar-brand img {
   max-height: 300px;
   max-width: 200px;
   margin: 0 auto;
    }
.navbar-default {
    background-color: black;
    border-color: black;
}
.navbar-header{
  width:100%;
  padding: 20px;
  background-color: black;
}

.dropdown-menu{
  background-color: grey;
}
.dropdown-item{
  margin-left: 10px;
  color: white;
}
.btn-group {
    float: right;
    padding: 15px;
    background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  margin-left: 50px;
  color: white;
}

.video_feed {
  margin-left: 40px;
  border: 5px solid black;
  max-width: 640px;
  max-height: 365px;
}
#notice {
  margin-left: 50px;
  color: orange;
}
.comment_feed {
  margin-left: 60px;
  border: 5px solid #4b3947;
  max-width: 320px;
  word-wrap:break-word;
  color: white;
  background-color: grey;


}

.user_comment {
  margin-left: 60px;
  color: orange;

}
.comment_functions {
    margin-left: 60px;
    color: orange;

}
.comment_box {
    margin-left: 60px;

}
.video_user_sig {
  margin-left: 50px;
  color: orange;
}
.video_function {
  margin-left: 50px;
  color: orange;
}

